In [85]:
import xml.etree.ElementTree as ET
import pandas as pd

In [86]:
tree = ET.parse('pivotCacheRecords1.xml')
tree2=ET.parse('pivotCacheDefinition1.xml')
root = tree.getroot()
root2=tree2.getroot()

In [87]:
comb=root2[1][0][0][0]
comb=comb.attrib['v']
ano=root2[1][1][0][0]
ano=ano.attrib['v']
regiao=root2[1][2][0][0]
regiao=regiao.attrib['v']
uf=root2[1][3][0][0]
uf=uf.attrib['v']

list2=[]

for child in root:
    list1=[]
    for subchild in child:
        if subchild.tag=='{http://schemas.openxmlformats.org/spreadsheetml/2006/main}s': 
            continue

        try:
            list1.append(subchild.attrib['v'])
        except Exception:
            pass   
            
        list2.append(list1)

In [88]:
print(uf)

RONDÔNIA

In [89]:
df = pd.DataFrame(list2)

In [90]:
df_column0 = df[0].astype(str).astype(int)
for i in range(len(root2[1][0][0])):
    # REPLACE i por root2[1][0][0][i].attrib['v']
    df_column0 = df_column0.replace(int(i), root2[1][0][0][i].attrib['v'])
df[0] = df_column0

In [91]:
print(df)

                    0   1  2   3                   4                   5   \
0      GASOLINA C (m3)   0  0   0  9563.2630000000008  11341.228999999999
1      GASOLINA C (m3)   0  0   0  9563.2630000000008  11341.228999999999
2      GASOLINA C (m3)   0  0   0  9563.2630000000008  11341.228999999999
3      GASOLINA C (m3)   0  0   0  9563.2630000000008  11341.228999999999
4      GASOLINA C (m3)   0  0   0  9563.2630000000008  11341.228999999999
...                ...  .. ..  ..                 ...                 ...
77107         GLP (m3)  20  4  26  13725.974637681158  13883.065217391302
77108         GLP (m3)  20  4  26  13725.974637681158  13883.065217391302
77109         GLP (m3)  20  4  26  13725.974637681158  13883.065217391302
77110         GLP (m3)  20  4  26  13725.974637681158  13883.065217391302
77111         GLP (m3)  20  4  26  13725.974637681158  13883.065217391302

                       6                   7                   8   \
0      9369.7459999999992           10719.983  11165.968000000001
1      9369.7459999999992           10719.983  11165.968000000001
2      9369.7459999999992           10719.983  11165.968000000001
3      9369.7459999999992           10719.983  11165.968000000001
4      9369.7459999999992           10719.983  11165.968000000001
...                   ...                 ...                 ...
77107  16011.333333333332  15887.492753623188   13463.27536231884
77108  16011.333333333332  15887.492753623188   13463.27536231884
77109  16011.333333333332  15887.492753623188   13463.27536231884
77110  16011.333333333332  15887.492753623188   13463.27536231884
77111  16011.333333333332  15887.492753623188   13463.27536231884

                       9                   10                  11  \
0      12312.450999999999            11220.97  12482.281000000001
1      12312.450999999999            11220.97  12482.281000000001
2      12312.450999999999            11220.97  12482.281000000001
3      12312.450999999999            11220.97  12482.281000000001
4      12312.450999999999            11220.97  12482.281000000001
...                   ...                 ...                 ...
77107  15325.704710144926  15689.914855072462  15358.490942028984
77108  15325.704710144926  15689.914855072462  15358.490942028984
77109  15325.704710144926  15689.914855072462  15358.490942028984
77110  15325.704710144926  15689.914855072462  15358.490942028984
77111  15325.704710144926  15689.914855072462  15358.490942028984

                       12                  13                  14  \
0      13591.121999999999            11940.57  11547.575999999999
1      13591.121999999999            11940.57  11547.575999999999
2      13591.121999999999            11940.57  11547.575999999999
3      13591.121999999999            11940.57  11547.575999999999
4      13591.121999999999            11940.57  11547.575999999999
...                   ...                 ...                 ...
77107  13937.451086956522  133282.70289855069                None
77108  13937.451086956522  133282.70289855069                None
77109  13937.451086956522  133282.70289855069                None
77110  13937.451086956522  133282.70289855069                None
77111  13937.451086956522  133282.70289855069                None

                       15                  16
0      10818.093999999999  136073.25300000003
1      10818.093999999999  136073.25300000003
2      10818.093999999999  136073.25300000003
3      10818.093999999999  136073.25300000003
4      10818.093999999999  136073.25300000003
...                   ...                 ...
77107                None                None
77108                None                None
77109                None                None
77110                None                None
77111                None                None

[77112 rows x 17 columns]

In [92]:
df_column1 = df[1].astype(str).astype(int)
for i in range(len(root2[1][1][0])):
   
    df_column1 = df_column1.replace(int(i), root2[1][1][0][i].attrib['v'])
df[1] = df_column1

In [93]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,GASOLINA C (m3),2000,0,0,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
1,GASOLINA C (m3),2000,0,0,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
2,GASOLINA C (m3),2000,0,0,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
3,GASOLINA C (m3),2000,0,0,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
4,GASOLINA C (m3),2000,0,0,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77107,GLP (m3),2020,4,26,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77108,GLP (m3),2020,4,26,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77109,GLP (m3),2020,4,26,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77110,GLP (m3),2020,4,26,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77111,GLP (m3),2020,4,26,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None

In [94]:
df_column2 = df[2].astype(str).astype(int)
for i in range(len(root2[1][2][0])):
    # REPLACE i por root2[1][0][0][i].attrib['v']
    df_column2 = df_column2.replace(int(i), root2[1][2][0][i].attrib['v'])
df[2] = df_column2

In [95]:
df_column3 = df[3].astype(str).astype(int)
for i in range(len(root2[1][3][0])):
    # REPLACE i por root2[1][0][0][i].attrib['v']
    df_column3 = df_column3.replace(int(i), root2[1][3][0][i].attrib['v'])
df[3] = df_column3

In [96]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,GASOLINA C (m3),2000,REGIÃO NORTE,RONDÔNIA,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
1,GASOLINA C (m3),2000,REGIÃO NORTE,RONDÔNIA,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
2,GASOLINA C (m3),2000,REGIÃO NORTE,RONDÔNIA,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
3,GASOLINA C (m3),2000,REGIÃO NORTE,RONDÔNIA,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
4,GASOLINA C (m3),2000,REGIÃO NORTE,RONDÔNIA,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77107,GLP (m3),2020,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77108,GLP (m3),2020,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77109,GLP (m3),2020,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77110,GLP (m3),2020,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77111,GLP (m3),2020,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None

In [97]:
df[0]=df[0].astype(str)

In [98]:
df[1]=df[1].astype(int)

In [99]:
df.dtypes

0     object
1      int32
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
dtype: object

In [100]:
print(df.columns)

RangeIndex(start=0, stop=17, step=1)

In [101]:
dict={0:'product', 1:'year', 2:'region',3:'uf',4:'jan',5:'feb',6:'mar',7:'apr',8:'may',9:'jun',10:'jul',11:'aug',12:'sep',13:'oct',14:'nov',15:'dec',16:'total'}

df.rename(columns=dict,
          inplace=True)

In [102]:
df

,product,year,region,uf,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,total
0,GASOLINA C (m3),2000,REGIÃO NORTE,RONDÔNIA,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
1,GASOLINA C (m3),2000,REGIÃO NORTE,RONDÔNIA,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
2,GASOLINA C (m3),2000,REGIÃO NORTE,RONDÔNIA,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
3,GASOLINA C (m3),2000,REGIÃO NORTE,RONDÔNIA,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
4,GASOLINA C (m3),2000,REGIÃO NORTE,RONDÔNIA,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77107,GLP (m3),2020,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77108,GLP (m3),2020,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77109,GLP (m3),2020,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77110,GLP (m3),2020,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77111,GLP (m3),2020,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None

In [103]:
itree = ET.parse('pivotCacheRecords2.xml')
itree2=ET.parse('pivotCacheDefinition2.xml')
iroot = itree.getroot()
iroot2=itree2.getroot()

In [104]:
iroot[0]

In [105]:
list4=[]

for child2 in iroot:
    list3=[]
    for subchild2 in child2:
        if subchild2.tag=='{http://schemas.openxmlformats.org/spreadsheetml/2006/main}s': 
            continue

        try:
            list3.append(subchild2.attrib['v'])
        except Exception:
            pass   
            
        list4.append(list3)

In [106]:
df2 = pd.DataFrame(list4)

In [107]:
print(df2)

      0  1  2   3       4       5        6       7       8        9       10  \
0      0  0  0   0  3517.6  3681.7  4700.67  5339.2  6166.4  6539.65  7283.7
1      0  0  0   0  3517.6  3681.7  4700.67  5339.2  6166.4  6539.65  7283.7
2      0  0  0   0  3517.6  3681.7  4700.67  5339.2  6166.4  6539.65  7283.7
3      0  0  0   0  3517.6  3681.7  4700.67  5339.2  6166.4  6539.65  7283.7
4      0  0  0   0  3517.6  3681.7  4700.67  5339.2  6166.4  6539.65  7283.7
...   .. .. ..  ..     ...     ...      ...     ...     ...      ...     ...
18355  4  7  4  26       0       0        0       0       0        0       0
18356  4  7  4  26       0       0        0       0       0        0       0
18357  4  7  4  26       0       0        0       0       0        0       0
18358  4  7  4  26       0       0        0       0       0        0       0
18359  4  7  4  26       0       0        0       0       0        0       0

            11       12       13      14                  15        16
0      8082.85  7902.55  9383.15  9767.4  9088.7999999999993  81453.67
1      8082.85  7902.55  9383.15  9767.4  9088.7999999999993  81453.67
2      8082.85  7902.55  9383.15  9767.4  9088.7999999999993  81453.67
3      8082.85  7902.55  9383.15  9767.4  9088.7999999999993  81453.67
4      8082.85  7902.55  9383.15  9767.4  9088.7999999999993  81453.67
...        ...      ...      ...     ...                 ...       ...
18355        0        0        0    None                None      None
18356        0        0        0    None                None      None
18357        0        0        0    None                None      None
18358        0        0        0    None                None      None
18359        0        0        0    None                None      None

[18360 rows x 17 columns]

In [108]:
df_column0a = df2[0].astype(str).astype(int)
for i in range(len(iroot2[1][0][0])):
    # REPLACE i por root2[1][0][0][i].attrib['v']
    df_column0a = df_column0a.replace(int(i), iroot2[1][0][0][i].attrib['v'])
df2[0] = df_column0a

In [109]:
df_column1a = df2[1].astype(str).astype(int)
for i in range(len(iroot2[1][1][0])):
   
    df_column1a = df_column1a.replace(int(i), root2[1][1][0][i].attrib['v'])
df2[1] = df_column1a

In [110]:
df_column2a = df2[2].astype(str).astype(int)
for i in range(len(root2[1][2][0])):
  
    df_column2a = df_column2a.replace(int(i), root2[1][2][0][i].attrib['v'])
df2[2] = df_column2a

In [111]:
df_column3a = df2[3].astype(str).astype(int)
for i in range(len(root2[1][3][0])):
   
    df_column3a = df_column3a.replace(int(i), root2[1][3][0][i].attrib['v'])
df2[3] = df_column3a

In [112]:
dict={0:'product', 1:'year', 2:'region',3:'uf',4:'jan',5:'feb',6:'mar',7:'apr',8:'may',9:'jun',10:'jul',11:'aug',12:'sep',13:'oct',14:'nov',15:'dec',16:'total'}

df2.rename(columns=dict,
          inplace=True)

In [113]:
df2

,product,year,region,uf,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,total
0,ÓLEO DIESEL S-10 (m3),2000,REGIÃO NORTE,RONDÔNIA,3517.6,3681.7,4700.67,5339.2,6166.4,6539.65,7283.7,8082.85,7902.55,9383.15,9767.4,9088.7999999999993,81453.67
1,ÓLEO DIESEL S-10 (m3),2000,REGIÃO NORTE,RONDÔNIA,3517.6,3681.7,4700.67,5339.2,6166.4,6539.65,7283.7,8082.85,7902.55,9383.15,9767.4,9088.7999999999993,81453.67
2,ÓLEO DIESEL S-10 (m3),2000,REGIÃO NORTE,RONDÔNIA,3517.6,3681.7,4700.67,5339.2,6166.4,6539.65,7283.7,8082.85,7902.55,9383.15,9767.4,9088.7999999999993,81453.67
3,ÓLEO DIESEL S-10 (m3),2000,REGIÃO NORTE,RONDÔNIA,3517.6,3681.7,4700.67,5339.2,6166.4,6539.65,7283.7,8082.85,7902.55,9383.15,9767.4,9088.7999999999993,81453.67
4,ÓLEO DIESEL S-10 (m3),2000,REGIÃO NORTE,RONDÔNIA,3517.6,3681.7,4700.67,5339.2,6166.4,6539.65,7283.7,8082.85,7902.55,9383.15,9767.4,9088.7999999999993,81453.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18355,ÓLEO DIESEL (OUTROS ) (m3),2007,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,0,0,0,0,0,0,0,0,0,0,None,None,None
18356,ÓLEO DIESEL (OUTROS ) (m3),2007,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,0,0,0,0,0,0,0,0,0,0,None,None,None
18357,ÓLEO DIESEL (OUTROS ) (m3),2007,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,0,0,0,0,0,0,0,0,0,0,None,None,None
18358,ÓLEO DIESEL (OUTROS ) (m3),2007,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,0,0,0,0,0,0,0,0,0,0,None,None,None
18359,ÓLEO DIESEL (OUTROS ) (m3),2007,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,0,0,0,0,0,0,0,0,0,0,None,None,None

In [114]:
df.drop_duplicates()

,product,year,region,uf,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,total
0,GASOLINA C (m3),2000,REGIÃO NORTE,RONDÔNIA,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
17,GASOLINA C (m3),2000,REGIÃO NORTE,ACRE,3065.7579999999998,3495.29,2946.93,3023.92,3206.93,3612.58,3264.46,3835.74,3676.5709999999999,3225.61,3289.7179999999998,3358.346,40001.852999999996
34,GASOLINA C (m3),2000,REGIÃO NORTE,AMAZONAS,17615.603999999999,20258.2,18741.344000000001,19604.023000000001,20221.673999999999,20792.616000000002,19912.898000000001,21869.338,21145.643,20633.174999999999,20766.918000000001,21180.919000000002,242742.35199999998
51,GASOLINA C (m3),2000,REGIÃO NORTE,RORAIMA,3259.3,3636.2159999999999,3631.569,3348.4160000000002,3394.0160000000001,4078.616,3346.616,4029.9,4358.5159999999996,3716.0320000000002,3200.4,3339.3319999999999,43338.929000000011
68,GASOLINA C (m3),2000,REGIÃO NORTE,PARÁ,28830.478999999999,32297.046999999999,27310.978999999999,29396.383999999998,26511.008999999998,36553.25,31807.84,31009.972000000002,29755.906999999999,28661.951000000001,28145.784,29294.795999999998,359575.39799999993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77027,GLP (m3),2020,REGIÃO SUL,RIO GRANDE DO SUL,58679.211956521736,57649.414855072464,68522.800724637666,64045.161231884056,66749.367753623184,73247.920289855057,81469.22282608696,75607.009057971009,72818.829710144928,618788.938405797,None,None,None
77044,GLP (m3),2020,REGIÃO CENTRO-OESTE,MATO GROSSO DO SUL,13774.10688405797,14137.695652173912,16281.13949275362,15037.528985507244,15190.643115942028,15877.811594202896,16876.47644927536,16036.112318840578,14687.78804347826,137899.30253623187,None,None,None
77061,GLP (m3),2020,REGIÃO CENTRO-OESTE,MATO GROSSO,18763.161231884056,18321.98731884058,20677.483695652172,19118.619565217392,18773.081521739128,19899.867753623188,20678.385869565216,18972.943840579708,18051.4365942029,173256.96739130435,None,None,None
77078,GLP (m3),2020,REGIÃO CENTRO-OESTE,GOIÁS,46850.585144927529,46581.878623188401,53302.086956521736,48894.621376811592,47184.788043478256,49687.793478260865,52665.449275362313,50069.005434782601,48032.530797101448,443268.7391304347,None,None,None
77095,GLP (m3),2020,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None

In [115]:
df2.drop_duplicates()

,product,year,region,uf,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,total
0,ÓLEO DIESEL S-10 (m3),2000,REGIÃO NORTE,RONDÔNIA,3517.6,3681.7,4700.67,5339.2,6166.4,6539.65,7283.7,8082.85,7902.55,9383.15,9767.4,9088.7999999999993,81453.67
17,ÓLEO DIESEL S-10 (m3),2000,REGIÃO NORTE,ACRE,363,410,536,607,740,756,971,1174,1240,1439,1483,1483,11202
34,ÓLEO DIESEL S-10 (m3),2000,REGIÃO NORTE,AMAZONAS,3190.585,3305,3391,3637,4250,4576,5756.8789999999999,6228.6360000000004,6334,7154.2,6836.3,6784.232,61443.831999999995
51,ÓLEO DIESEL S-10 (m3),2000,REGIÃO NORTE,RORAIMA,795.4,757.2,939.8,1040.5999999999999,966,992.9,1027,1083.8,1311.2,1475.3,1502.7,1531.8,13423.699999999999
68,ÓLEO DIESEL S-10 (m3),2000,REGIÃO NORTE,PARÁ,30137.8,28146.3,31280.5,33033.050000000003,33519.879999999997,34321.53,37168.160000000003,41248.336000000003,40913.480000000003,45383.5,44013.218999999997,41975.03,441140.78499999992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18275,ÓLEO DIESEL (OUTROS ) (m3),2007,REGIÃO SUL,RIO GRANDE DO SUL,10,10,10,0,0,10,10,0,10,60,None,None,None
18292,ÓLEO DIESEL (OUTROS ) (m3),2007,REGIÃO CENTRO-OESTE,MATO GROSSO DO SUL,0,0,0,0,0,0,0,0,0,0,None,None,None
18309,ÓLEO DIESEL (OUTROS ) (m3),2007,REGIÃO CENTRO-OESTE,MATO GROSSO,45,45,0,0,0,0,0,0,0,90,None,None,None
18326,ÓLEO DIESEL (OUTROS ) (m3),2007,REGIÃO CENTRO-OESTE,GOIÁS,0,0,0,0,0,0,0,0,41.4,41.4,None,None,None
18343,ÓLEO DIESEL (OUTROS ) (m3),2007,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,0,0,0,0,0,0,0,0,0,0,None,None,None